torch==2.0.1
transformers==4.30.2
peft==0.3.0
pandas==1.4.3
pylint==2.14.4
SPARQLWrapper==2.0.0
sacrebleu
sentencepiece
pywikibot
mwparserfromhell>=0.5.0
evaluate==0.2.2
pywikidata
networkx
matplotlib
unidecode
requests
bs4
marisa_trie
jupyterlab
scikit-learn
tensorflow<=2.10
spacy
mlflow
gradio
python-telegram-bot
pydash
jsonlines
ujson
sentence_transformers
captum==0.6.0
torch-model-archiver==0.7.0
torchserve==0.7.0
black==22.3.0
xgboost
seaborn
gudhi
giotto-tda
wandb
